<div class="container">
    <form action="" class="sign__up-form" (submit)="onSignUp(signUpDetails)" #signUpDetails="ngForm">
        <div class="form__column">
            <label for="name" class="form__input-label">Name:</label>
            <input type="text" class="form__input" ngModel name="name" placeholder="Enter Name" required>
        </div>
        <div class="form__column">
            <label for="name" class="form__input-label">Email:</label>
            <input type="text" class="form__input" ngModel name="email" placeholder="Enter Email" required>
        </div>
        <div class="form__column">
            <label for="name" class="form__input-label">Mobile Number:</label>
            <input type="tel" class="form__input" ngModel pattern="^([0|\+[0-9]{1,5})?([7-9][0-9]{9})$" name="phone"
                placeholder="Enter Mobile Number" required>
        </div>
        <div class="form__column">
            <label for="name" class="form__input-label">Address:</label>
            <input type="text" class="form__input" ngModel name="address" placeholder="Enter address" required>
        </div>
        <button type="submit" [disabled]="!signUpDetails.valid"
            [ngClass]="signUpDetails.valid ? 'btn__submit' : 'btn__disabled'">Submit</button>
    </form>
</div>